.login_form {
    max-width: 280px !important;
    min-width: 280px;
}

.login_form__password_fields {
    display:flex;
    flex-direction: row;
    color: #22222273;
    font-size: 0.9rem;
    justify-content: space-between;
}

.login_form__secondary {
    color: #22222273;
    font-size: 0.9rem;
}

.show_password {
    width: 100%;
    text-align: left !important;
}

.show_password > input {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.login_content_wrapper {
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}