/*
    Here will be custom css which is
    used across all pages
*/

/* Font imports */
/* El messiri */
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
/* Inter */

* {
    box-sizing: border-box;
}

/* Выделение  зеленым  на страницах */
::selection {
    background: #29993491;
}

:root {
    /* Typography */
    --font-el-messiri: 'El Messiri', sans-serif;
    --font-inter: 'Inter', sans-serif;

    /* Colors */
    --color-black-900: #000000;
    --color-white-100: #FFFFFF;
}
html {
    position: relative;
    min-height: 100vh;
}

body {
    margin: 0;
    color: var(--color-black-900);
    background-color: var(--color-white-100)  !important;
}

main {
    display:flex;
    flex-direction: column;
}

a {
    all: unset;
    cursor: pointer;
    color:#45A576;
}


.navbar_seedcare {
    font-family: var(--font-inter) !important;
    font-size: 20px;
    min-height: 86px;
    /* max-width: 1000px; */
    margin: auto;

}
.navbar_seedcare a.nav-link {
    color:#45A576 !important;

}
.navbar_seedcare a.nav-link:hover {
    color:#000 !important;

}
.navbar_seedcare li.nav-item {
    margin: 0 2rem;
    display:flex;
    justify-content: center;
    align-items: center;
}


.navbar_collapse_disabled {
    flex-grow: 1;
    align-items: center;
    display: flex !important;
    flex-basis: auto;
}
.navbar_collapse_disabled ul {
    flex-direction:row;
}
.navbar_collapse_disabled ul > li {
    padding: 0.5rem 0.5rem !important;
}

.navbar_wrapper {
    /* From bootstrap */
    position:relative;
    background-color: rgba(248, 249, 250, 0.973) !important;
    width: 100%;
    text-align: center;
    padding: 0 5%;
    /* display:flex; */
}

.flex_spacer  {
    flex-grow: 1;
}

.profile_mini {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.profile_mini img {
    margin: 0.5rem;
    height: 70px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    /* border: 7px solid #299934F5; */
}
.profile_mini a {
    margin-right: 0.5rem;
    cursor:pointer;
    color: black;
}

footer {
    position: absolute;
    bottom:-450px;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;

    padding: 5rem 0;

    background-color: var(--color-black-900);
    color: rgba(255, 255, 255, 0.452);
    height: 450px;
}

.search_seedcare_button {
    position:absolute !important;
    background: transparent !important;
    color: black;
    border:none;
    font-size: 24px;
    right:5px;
    top: 10px;

}
.search_seedcare_button:hover {
    color:black;
}

.search_seedcare {
    position: relative;
    height: 64px;
}
#outline-form {
    position: relative;
    width: 100%;
}

.search_seedcare_form {
    border-radius: 50rem !important;
    height: 64px;
    min-width: 120px;
    font-size: 24px;

}

.navbar-brand img {
    height:64px;
    width: 64px;
    border-radius: 50%;
}

.navbar_button {
    background: #45D08D91;
    color: black;
    height: 64px;
    font-size: 24px;
    width: 100%;
    max-width: 260px;
    align-self: center;
    font-family: var(--font-el-messiri);
    height: 53px;
    padding: 0 47px;
}

#navbarTogglerDemo a {
    display:block;
}
/* #navbarTogglerDemo div.input-group {
    display:flex;
    align-items: center;
} */
.input-group-wrapper {
    display:flex;
    align-items:center;
    justify-content: center;
}


@media (min-width: 990px) {
    #registrationButton_navbar{
        margin: 0 40px;
    }
}

/* IMAGE GALLERY HOORAY */
.clearfix, .imageGallery ul {
    zoom: 1;
  }
  .clearfix:before, .imageGallery ul:before, .clearfix:after, .imageGallery ul:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  .clearfix:after, .imageGallery ul:after {
    clear: both;
  }

  .imageGallery ::selection {
    background: transparent;
  }
  .imageGallery ::-moz-selection {
    background: transparent;
  }
  .imageGallery ul {
    position: relative;
    /* max-width: 750px; */
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
  }
  .imageGallery ul li {
    display: none;
    text-align: center;
    background: #e7e7e7;

  }
  .imageGallery ul li.prev, .imageGallery ul li.next {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: block;
    width: 22%;
    max-width: 200px;
    background: #fff;
    opacity: 0.5;
    z-index: 1000;
    cursor: pointer;
  }
  .imageGallery ul li.prev img, .imageGallery ul li.next img {

    width: 100%;
    margin-top: 80%;
  }
  .imageGallery ul li.next {
    left: auto;
    right: 0;
  }
  .imageGallery ul li.active {
    display: block;
    height:100%;

  }
  .imageGallery ul li.image img {
    max-width: 100%;
    /* max-height: 640px; */
    height:100%;
    width: 100%;
  }
.imageGallery ul {
    filter: drop-shadow(10px 10px 50px rgba(0, 0, 0, 0.25));
    /* height: 80vh; */
    width: 70%;
    /* width: 70%; */
    aspect-ratio: 1175/783;
    background: #FFFFFF;
    border-radius: 30px;
    overflow: hidden;
}
.imageGallery {
    width: 100%;
}

.imageGallery a {
    display:block;
}
